@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto+Mono:wght@300&display=swap");
header a:hover, .dropdown-item:hover, .iconosRedes i:hover {
  color: whitesmoke !important;
  transition: 200ms linear;
  text-decoration: none;
  background: #008E9B; }

/*  CSS para nav bar */
.barraNav {
  background-color: #008E9B; }

.logoNav {
  height: 4.37rem; }

.barraNavTexto a {
  font-size: 1.1rem;
  color: white;
  padding-right: 5px; }

.barraNavTexto {
  align-items: center;
  text-decoration: none; }
  .barraNavTexto__dropdown {
    background-color: #008E9B;
    border: none;
    texto-align: center;
    color: white; }

.nav-item, .dropdown-menu {
  background: #008E9B; }

.dropdown-menu {
  border-width: 0;
  border-color: transparent; }

.dropdown-item, .iconosRedes i {
  color: rgba(255, 255, 255, 0.5) !important; }

.colNav {
  height: 6.25rem;
  padding: 0 !important; }

header {
  margin-bottom: 7.5rem; }

.navbar {
  margin-bottom: 0px !important;
  padding-top: 0;
  padding-bottom: 0; }

/* CSS para footer */
.footer {
  background-color: #008E9B;
  color: white;
  font-size: 0.825rem;
  width: 100%;
  margin-bottom: 7.5rem; }

.footerPadding {
  padding: 0; }

.pagesinFooter {
  justify-content: flex-start;
  height: 6.25rem;
  padding-bottom: 1rem; }

.textoRedesSociales {
  padding-top: 1rem; }

.iconFooter {
  width: 2rem;
  height: 2rem;
  padding-left: 0.125rem; }

.iconosRedes li {
  padding: 0 0.4rem;
  list-style: none; }

.iconosRedes i {
  font-size: 1.4rem; }

.emailSuscripcion {
  font-size: 0.625rem;
  width: 14rem; }

* {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-size: 0.9rem;
  padding: 0;
  margin: 0 !important; }

.paddingLR {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.bodyPrincipalSaludo {
  padding-top: 100px; }

.bodyPrincipal {
  background-color: #FFF7EC;
  color: #1a535c;
  padding-right: 0 !important;
  padding-left: 0 !important; }
  .bodyPrincipal__header {
    background-color: #FFF7EC;
    weight: bold;
    font-size: 20px; }
  .bodyPrincipal__parrafo {
    font-size: 16px; }

.barranavFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1a535c;
  width: 100%;
  height: auto;
  justify-content: space-around; }
  .barranavFooter__linkInternos a {
    font-size: 1rem;
    color: white; }
  .barranavFooter__linkRedesSociales {
    color: white;
    align-items: center;
    padding-bottom: 10px; }

.linkInternos__list {
  display: flex;
  flex-direction: column; }
  .linkInternos__list ul {
    margin: 0; }

.linkRedesSociales__parrafo {
  font-size: 1.2rem; }

.linkRedesSociales__icons {
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .linkRedesSociales__icons img {
    padding-right: 5px; }

.boletin {
  font-size: 10px;
  color: white; }
  .boletin__label {
    font-size: 10px;
    weight: bold; }
  .boletin__input {
    width: 220px;
    border-radius: 15px;
    border: transparent;
    height: 25px;
    background-color: white;
    padding-left: 15px;
    padding-top: 2px; }

.inputEmail__Suscripcion {
  border: transparent;
  border: 0;
  height: 20px;
  width: 200px; }

.boletinboton__input {
  font-size: 10px;
  border-radius: 25%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white; }

.seccionMedia__texto {
  font-size: 16;
  font-family: roboto, monospace; }

.carouselmensaje__header {
  color: black;
  font-weight: bold;
  font-size: 14px; }

.carouselmensaje__parrafo {
  font-size: 12px; }

.buttonHamburguesa {
  border-color: rgba(255, 255, 255, 0.1); }
  .buttonHamburguesa__mobile {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
