$idioma:japonés;
p{
	@if $idioma == japonés{
	color: black
	}
	@else if $idioma == español {
	color: red
	}
	@else {
	color: pink
	}
}

$fontSize: 15;
h {
	@if $fontSize> 14{
	color: #008E9B;
	weight:bold 
	}
	@else if $fontSize< 12 {
	color: green }
}

