/* CSS para Pictures */
.pictureIndex{
  
}
.imgBlog{
  height: 18rem;
  width: auto;
  padding-bottom: 1rem;
}
.imgContacto{
  height: 20rem;
  justify-content:center;
}

.imgSobremi{
  height: 30rem;
  width: auto;
}

.imgWrap {
  position: relative;
}

.imagenDescripcion {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-size: 2.5rem;
}

.imgWrap:hover .imagenDescripcion{
  visibility:visible;
  opacity:1;
}
/* RESPONSIVE CSS tablet */
@media only screen 
  and (min-device-width: 737px) 
  and (max-width: 1024px)  { 
  .imgBlog{
  height: 12rem;
  width: auto;
	}
.imgWrap{
  width:18rem;
}
}
/* RESPONSIVE CSS mobile　iPhone８*/
@media only screen 
and (min-device-width: 371px) 
and (max-width: 736px) {
  .colCard{
  width:22rem;
  padding-left:0;
  padding-right:0;
  }
  .colIndexTexto{
  padding-left:0;
  padding-right:0;
  }
	.imgSobremi{
	  height: 15rem;
	}   

} 
/* RESPONSIVE CSS mobile iphone5*/
@media only screen 
and (min-device-width: 200px) 
and (max-width: 370px) {
  .imgWrap{
  width:17.2rem;
}
  .colCard{
  width:20rem;
  }
} 


